/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GENERAL*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}


/* MY-ROW */
.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.my-row .my-col-1-6{
    width: calc((100% / 6) * 1);
}

/* .my-row .my-col-2-3{
    width: calc((100% / 6) * 4);
} */


/* HEADER */
.logo{
    background-image: url(../img/boolean-logo.png);
    width: 113px;
    height: 25px;
    background-size: cover;
    background-position: center;
}

.header-container{
    max-width: 1350px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    color: white;
}

.orange-background{
    background-color: orange;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
}


/* MAIN */
main{

    margin-top: 50px;

}

.main-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.main-container .box:nth-child(2), .box:nth-child(5){
    margin-left: 20px;
    margin-right: 20px;
}

.box{
    width: 400px;
    height: 700px;
}

.box-immagini{
    margin-top: 50px;
    height: 600px;
    position: relative;
}

.box-info-prodotti{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 525px;
    background-color: lightgray;
}

.box-cuore{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    padding-top: 7px;
}

/* .box-cuore-nascosto{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    padding-top: 7px;
    color: red;
    z-index: 1;
} */

.box-cuore:hover{
    color: red;
}

.discount{
    text-decoration: line-through;
}

.red-price{
    color: red;
}

.immagine{
    width: 400px;
    height: 600px;
    position: absolute;
}

.immagine-nascosta{
    position: absolute;
    width: 400px;
    height: 600px;
    z-index: 1;
}

#immagine-1{
    background-image: url(../img/1.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#immagine-1:hover{
    background-image: url(../img/1b.webp);
    background-size: cover;
    background-position: center;
}

#immagine-2{
    background-image: url(../img/2.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#immagine-2:hover{
    background-image: url(../img/2b.webp);
    background-size: cover;
    background-position: center;
}

#immagine-3{
    background-image: url(../img/3.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#immagine-3:hover{
    background-image: url(../img/3b.webp);
    background-size: cover;
    background-position: center;
}

#immagine-4{
    background-image: url(../img/4.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#immagine-4:hover{
    background-image: url(../img/4b.webp);
    background-size: cover;
    background-position: center;
}

#immagine-5{
    background-image: url(../img/5.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#immagine-5:hover{
    background-image: url(../img/5b.webp);
    background-size: cover;
    background-position: center;
}

#immagine-6{
    background-image: url(../img/6.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#immagine-6:hover{
    background-image: url(../img/6b.webp);
    background-size: cover;
    background-position: center;
}

.red-box{
    width: 50px;
    height: 30px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 7px;
}

.green-box{
    color: white;
    text-align: center;
    padding-top: 7px;
    height: 30px;
    width: 100px;
    background-color: green;
    margin-left: 5px;
}


/* FOOTER */
.footer-container{
    max-width: 1250px;
    margin: 0 auto;
    /* text-align: center; */
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.black-background{
    background-color: black;
    margin-top: 40px;
}

.infos{
    padding-top: 20px;
}

.p-font-size{
    font-size: 12px;
}

.socials{
    padding-top: 20px;
    font-size: 12px;
}

.footer-speciale{
    margin-bottom: 10px;
}